<template>
<form @submit.prevent="onsubmit()">
  <va-input
    v-model="username"
    type="text"
    :label="$t('auth.username')"
    :error="!!usernameErrors.length"
    :error-messages="usernameErrors"
  />

  <va-input
    v-model="email"
    type="email"
    :label="$t('auth.email')"
    :error="!!emailErrors.length"
    :error-messages="emailErrors"
  />

  <va-input
    v-model="password"
    type="password"
    :label="$t('auth.password')"
    :error="!!passwordErrors.length"
    :error-messages="passwordErrors"
  />

  <div class="auth-layout__options d-flex align--center justify--space-between">
    <!--
    <va-checkbox
      v-model="agreedToTerms"
      class="mb-0"
      :error="!!agreedToTermsErrors.length"
      :errorMessages="agreedToTermsErrors"
    >
    
    <template slot="label">
      {{ $t('auth.agree') }}
      <span class="link">{{ $t('auth.termsOfUse') }}</span>
    </template>
    
    </va-checkbox>
    <router-link class="ml-1 link" :to="{name: 'reset-lozinka'}">
      {{$t('auth.recover_password')}}
    </router-link>
    -->
  </div>

  <div class="d-flex justify--center mt-3">
    <va-button type="submit" class="my-0">{{ $t('auth.sign_up') }}</va-button>
  </div>
</form>
</template>

<script>

import config from '../../../config.json'

export default {
  name: 'signup',
  data () {
    return {
      api_url: config.api_url,
      username: '',
      email: '',
      password: '',
      agreedToTerms: false,
      usernameErrors: [],
      emailErrors: [],
      passwordErrors: [],
      agreedToTermsErrors: [],
    }
  },
  methods: {
    async onsubmit () {
      this.usernameErrors = this.username ? [] : ['Korisničko ime je obavezno']
      this.emailErrors = this.email ? [] : ['Email je obavezan']
      this.passwordErrors = this.password ? [] : ['Lozinka je obavezna']
      this.agreedToTermsErrors = this.agreedToTerms ? [] : ['You must agree to the terms of use to continue']
      if (!this.formReady) {
        return
      }

      //Registruj
        const auth_api = this.api_url + "/auth/local/register";

        const response = await fetch(auth_api, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json"
          },
          body: JSON.stringify({ username: this.username, email: this.email, password: this.password })
        });
        const result = await response.json();
        //this.token = result.Token;
        if(result.jwt){
          localStorage.setItem("jwt", result.jwt);
          localStorage.setItem("username", this.username);
          localStorage.setItem("registration-success", true)
          this.$router.push({ name: 'trenutno-vrijeme' });
        }
        else {
          console.log("Error with registration:" + result);
          this.showToast(this.$t('auth.error_register'), {
            icon: 'fa-close',
            position: 'bottom-right',
            duration: 3500,
          })
        }
      //this.$router.push({ name: 'prijava' })
    },
  },
  computed: {
    formReady () {
      //Validacija
      //ToDo
      return true;
    },
  },
}
</script>

<style lang="scss">
</style>
