<template>
  <div>
    <p class="promo-text">
      <strong>AgroWeather.me</strong> is implemented in the context of project <strong>DIPOL – Digital
      transformation of agriculture and food supply chain in Montenegro</strong>. DIPOL
      project is realized at the Faculty for Information Systems and
      Technologies, University of Donja Gorica. The research is funded through
      scientific research grant awarded by the Ministry of Science of
      Montenegro, agreement No. 01-788/2.
    </p>
  </div>
</template>

<script>
export default {
  name: "promo",
};
</script>

<style lang="scss">
.promo-text {
    text-align: justify;
}
</style>
