<template>
  <div class="dashboard">
    <div class="row row-equal">
      <div class="flex xs12 md8">
        <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">Dodaj novo obavještenje - {{ naziv }}</p>
          </div>
          <div class="forma-dodaj">
            <div class="row">
                    <div class="flex xs12">
                      <va-input
                          v-model="naziv"
                          placeholder="Naziv"
                      />
                    </div>
                    <div class="flex xs12 sm4 novo-obavjestenje-input-uputstvo">
                      <p>Obavijesti me kada</p>
                    </div>
                    <div class="flex xs12 sm8">
                      <va-select
                        class=""
                        :label="$t('ui.selects.odabir-variable')"
                        v-model="variable"
                        textBy="description"
                        :options="variableOpcije"
                      />
                    </div>
                    <div v-if="variable.id !== 'RainRate' && variable.id !== 'SnowRate'" class="flex xs12 sm4 novo-obavjestenje-input-uputstvo">
                      <p> - </p>
                    </div>
                    <div v-if="variable.id !== 'RainRate' && variable.id !== 'SnowRate'" class="flex xs12 sm8">
                      <va-select
                        class=""
                        :label="$t('ui.selects.odabir-comparison')"
                        v-model="comparison"
                        textBy="description"
                        :options="comparisonOpcije"
                      />
                    </div>
                    <div v-if="variable.id !== 'RainRate' && variable.id !== 'SnowRate'" class="flex xs12 sm4 novo-obavjestenje-input-uputstvo">
                      <p> - </p>
                    </div>
                    <div v-if="variable.id !== 'RainRate' && variable.id !== 'SnowRate'" class="flex xs12 sm8">
                      <va-input
                          :type="'number'"
                          v-model="value"
                          :placeholder="$t('ui.selects.odabir-value')"
                          step="0.01"
                      />
                    </div>
                    <div class="flex xs12 sm4 novo-obavjestenje-input-uputstvo">
                      <p>{{variable.id !== 'RainRate' && variable.id !== 'SnowRate' ? 'na lokaciji' : 'pada na lokaciji'}}</p>
                    </div>
                    <div class="flex xs12 sm8">
                      <va-select
                        class=""
                        :label="$t('ui.selects.odabir-lokacija')"
                        v-model="user_location"
                        textBy="description"
                        :options="lokacijeOpcije"
                      />
                    </div>
                    
                    <div class="flex xs12 sm4 novo-obavjestenje-input-uputstvo">
                      <p> obavijesti me putem </p>
                    </div>
                    <div class="flex xs12 sm8">
                      <va-select
                        class=""
                        :label="$t('ui.selects.odabir-metod')"
                        v-model="method"
                        textBy="description"
                        :options="methodOpcije"
                      />
                    </div>

                    <div class="flex xs12 sm4 novo-obavjestenje-input-uputstvo">
                      <p>{{method.id == 'sms' ? 'na broj telefona' : method.id == 'email' ? 'na email' : 'na callback URL'}}</p>
                    </div>
                    <div class="flex xs12 sm8">
                      <va-input
                          v-model="methodRecepient"
                      />
                    </div>

                    <div class="flex xs12 text-center">
                        <va-button 
                            @click="submit()" 
                            large 
                            type="submit" 
                            class="my-0">{{ $t('ui.dodaj') }}
                        </va-button>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="flex s12">
        
        </div>
    </div>
  </div>
</template>

<script>
import config from "../../config.json";

export default {
  name: "nova",

  data() {
    return {
        lokacije: [],
        lokacijeOpcije: [],
        naziv: '',
        variable: '',
        comparison: '',
        value: '',
        user_location: '',
        method: '',
        methodRecepient: '',
        variableOpcije: [
          {
            id: 'Temperature',
            description: 'Temperatura'
          },
          {
            id: 'Humidity',
            description: 'Vlažnost vazduha'
          },
          {
            id: 'Pressure',
            description: 'Vazdušni pritisak'
          },
          {
            id: 'WindSpeed',
            description: 'Brzina vjetra'
          },
          {
            id: 'RainRate',
            description: 'Kiša'
          },
          {
            id: 'SnowRate',
            description: 'Snijeg'
          },
        ],
        comparisonOpcije: [
          {
            id: 'gt',
            description: 'Poraste iznad'
          },
          {
            id: 'lt',
            description: 'Padne ispod'
          }
        ],
        methodOpcije: [
          {
            id: 'sms',
            description: 'SMS-a'
          },
          {
            id: 'email',
            description: 'Email'
          },
          {
            id: 'callback',
            description: 'Callback-a (URL)'
          }
        ]
    };
  },
  methods: {
      async submit() {
        const userID = localStorage.getItem('userID');
        const api_endpoint = config.api_url + "/notifications/";

        //Formatira kisu i snijeg
        if(this.variable.id == 'RainRate' || this.variable.id == 'SnowRate') {
          this.comparison.id = 'gt'
          this.value = 0
        }
        
        try {
          const response = await fetch(api_endpoint, {
            method: "POST",
            headers: {
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
              "user": userID, 
              "Title": this.naziv, 
              "Variable": this.variable.id, 
              "Comparison": this.comparison.id, 
              "Value": this.value, 
              "Method": this.method.id,
              "MethodRecepient": this.methodRecepient,
              "user_location": this.user_location.id })
          });
          const result = await response.json();
          if(result.error){
            this.showToast(this.$t('ui.greska'), {
                icon: 'fa-close',
                position: 'bottom-right',
                duration: 1500,
            })
            return
          }

          this.$router.push({ path: "/obavjestenja" });
                    
        } catch (error) {
          console.log("Error with getting response:" + error);
          this.showToast(this.$t('ui.greska'), {
            icon: 'fa-close',
            position: 'bottom-right',
            duration: 1500,
          })
          return false;
        }
      },
      async getUserLocations() {
        const userID = localStorage.getItem('userID');
        const api_endpoint = config.api_url + "/user-locations?user=" + userID;
        try {
          const response = await fetch(api_endpoint, {
            method: "GET",
            headers: {
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          });
          const result = await response.json();
          this.lokacije = result
          if(result.length){
            var opcije = []
            result.forEach(lokacija => {
              var opcija = {}
              opcija.id = lokacija.id
              opcija.description = lokacija.Title
              opcije.push(opcija)
            });
            setTimeout(() => {
              this.lokacijeOpcije = opcije
            }, 1000);
          }
                    
        } catch (error) {
          console.log("Error with getting response:" + error);
          return false;
        }
      },
  },
  mounted: async function() {
    console.log('mount-ovao Dodaj novo obavještenje')
    this.getUserLocations()
  }
};
</script>

<style lang="scss">
.row-equal .flex {
  .va-card {
    height: 100%;
  }
}
.dashboard {
  .va-card {
    margin-bottom: 0 !important;
  }
}
</style>
