<template>
  <div class="dashboard">
    <div class="row row-equal">
      <div class="flex s12 md6">
        <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">Obavještenja</p>
          </div>
          <div class="flex xs12">
              <div
                class="flex xs12"
                v-for="obavjestenje in obavjestenja"
                :key="obavjestenje.id"
              >
                <va-card 
                  class="mb-4 card-obavjestenje" 
                  :color="'info'"
                  @click.native="redirect(obavjestenje.id)"
                >
                  <va-icon
                    :name="'far fa-bell'"
                    class="card-obavjestenje-ikona"
                  />
                  <p class="display-2 mb-0 text-white card-obavjestenje-title">{{ obavjestenje.Title }}</p>
                  <p class="card-obavjestenje-tekst">{{ obavjestenje.Variable + ', ' + obavjestenje.Value }}</p>
                </va-card>
              </div>
              <div class="flex xs12">
                <va-card 
                  class="mb-4 card-dodaj" 
                  :color="''"
                  @click.native="redirect('novo')"
                >
                  <va-icon
                    :name="'fa fa-plus'"
                    color="info"
                    class="card-dodaj-ikona"
                  />
                  <p class="display-2 mb-0 card-dodaj-title" >Dodaj</p>
                  <p class="card-dodaj-text">Dodaj novo obavještenje</p>
                </va-card>
              </div>
          </div>
        </div>
      </div>
      <div class="flex s12">
        
        </div>
    </div>
  </div>
</template>

<script>
import config from "../../config.json";

export default {
  name: "obavjestenja",

  data() {
    return {
        obavjestenja: []
    };
  },
  methods: {
      async getNotifications() {
        const userID = localStorage.getItem('userID');
        const api_endpoint = config.api_url + "/notifications?user=" + userID;
        try {
          const response = await fetch(api_endpoint, {
            method: "GET",
            headers: {
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          });
          const result = await response.json();
          this.obavjestenja = result
                    
        } catch (error) {
          console.log("Error with getting response:" + error);
          return false;
        }
      },
      redirect(id) {
        if(id == 'novo'){
          this.$router.push('/obavjestenja/novo')
        }
        else {
          this.$router.push('/obavjestenja/izmijeni/' + id)
        }
      },
  },
  mounted: async function() {
    console.log('mount-ovao Obavještenja')
    this.getNotifications()
  }
};
</script>