<template>
  <div class="dashboard">
    <div class="row row-equal">
      <div class="flex s12 md6">
        <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">O projektu</p>
          </div>
          <div class="flex xs12">
            <va-card>
                <strong>Zahvalnica</strong></br></br>
              Magistarski rad “Upravljanje meteorološkim podacima za primjenu u
              poljoprivredi“ proizvod je saradnje kandidata i mentora u okviru
              realizacije naučno-istraživačkog projekta Digitalna transformacija
              poljoprivredne proizvodnje i lanca snabdijevanja hranom u Crnoj
              Gori - DIPOL koji je finansiran od strane Ministarstva nauke Crne
              Gore (grant br. 01-788/2). DIPOL projekt se realizuje na Fakultetu
              za informacione sisteme i tehnologije, Univerzitet Donja Gorica u
              partnerstvu sa kompanijom DunavNET, Novi Sad, Srbija, a u saradnji
              sa industrijskim partnerima kao što su “13. jul Plantaže” iz
              Podgorice i “Naše voće” iz Nikšića.
              </br></br>
              <strong>Tech info</strong></br>
              Frontend: https://agroweather.me</br>
              Backend: https://api.agroweather.me</br></br>
              <strong>Stack:</strong> </br>
              Front - Vue.js, Javascript</br>
              Back - Node.js, Python, SQL, Strapi
            </va-card>
          </div>
        </div>
      </div>
      <div class="flex s12 md6">
          <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">Licenca</p>
          </div>
          <div class="flex xs12">
            <va-card>
            This file is part of Agroweather.
            </br></br>
            Agroweather is free software: you can redistribute it and/or modify
            it under the terms of the GNU General Public License as published by
            the Free Software Foundation, either version 3 of the License, or
            (at your option) any later version.
            </br></br>
            Agroweather is distributed in the hope that it will be useful,
            but WITHOUT ANY WARRANTY; without even the implied warranty of
            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
            GNU General Public License for more details.
            </br></br>
            You should have received a copy of the GNU General Public License
            along with Agroweather.  If not, see <https://www.gnu.org/licenses/>.
            </va-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "o-projektu",

  data() {
    return {};
  },
  methods: {},
  mounted: async function () {},
};
</script>