<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#00da80">
  <link rel="manifest" href="manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">

  <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png">

  <script src="https://kit.fontawesome.com/3f89bebd1c.js" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdG-y8xN6coZPnFgmo2t5viSY030d3lBE&libraries=places"
    async="" defer=""></script>
  <title>Agro Weather</title>
</head>

<body>

  <% if (process.env.NODE_ENV==='production' && process.env.VUE_APP_DRIFT_KEY) { %>
    <script>
      /* eslint-disable */
      !function () {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
          t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
          t.factory = function (e) {
            return function () {
              var n;
              return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }), t.load = function (t) {
            var e, n, o, i;
            e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
              o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
              n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
          });
      }();
      drift.config({
        welcomeMessageDelay: 30000
      });
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('<%= process.env.VUE_APP_DRIFT_KEY %>');
    </script>
    <% } %>

      <div id="app"></div>

      <!-- Service worker -->
      <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker
            .register('/sw.js')
            .then(function () { console.log("Service Worker Registered"); });
        }
      </script>
      <!-- built files will be auto injected -->


</body>

</html>