<template>
  <div class="dashboard">
    <div class="row row-equal">
      <div class="flex s12 md6">
          
      </div>
      <div class="flex s12 md6">
        <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">Profil</p>
          </div>
          <div class="flex xs12">
              
          </div>
        </div>
      </div>
      <div class="flex s12">
        
        </div>
    </div>
  </div>
</template>

<script>
import config from "../../config.json";

export default {
  name: "trenutno",

  data() {
    return {
        
    };
  },
  methods: {
      
  },
  mounted: function() {
    console.log('mount-ovao Profil')
  }
};
</script>

<style lang="scss">
.row-equal .flex {
  .va-card {
    height: 100%;
  }
}
.dashboard {
  .va-card {
    margin-bottom: 0 !important;
  }
}
</style>
