<template>
  <div class="dashboard">
    <div class="row">
      <div class="flex xs12">
        <div class="row">
          <div class="flex xs12 page-header">
            <p class="display-2">Vremenska prognoza</p>
          </div>
          <div class="flex row xs12">
            <div class="flex xs12 md4">
              <va-select
                class="select-input-large lokacija-select"
                :label="$t('ui.selects.odabir-lokacije')"
                v-model="odabranaLokacija"
                searchable
                textBy="description"
                :options="lokacijeOpcije"
                :disabled="lokacijeOpcije.length ? false : true"
              />
            </div>
            <div class="flex xs12 md4">
              <va-select
                class="select-input-large vrijeme-select"
                :label="$t('ui.selects.odabir-izvora')"
                v-model="odabranoMjerenje"
                searchable
                textBy="description"
                :options="mjerenjaOpcije"
                :disabled="mjerenjaOpcije.length ? false : true"
              />
            </div>
            <!--
            <div class="flex xs12 md4">
              <p class="stranica-header">Vremenska prognoza</p>
            </div>
            -->
          </div>
        </div>
      </div>
      <div class="flex xs12">
        <div
          v-if="
            !odabranaLokacija ||
            !odabranoMjerenje ||
            !lokacije.length ||
            !mjerenja.length
          "
          class="text--center pb-4"
        >
          <div class="flex-center spinner-box">
            <component
              :animation-duration="1500"
              :is="spinner"
              :color="'#0f4cc7'"
              :size="120"
            >
            </component>
          </div>
          <div>{{ $t(spinner) }}</div>
        </div>

        <div
          class="row trenutno-mjerenja-wrapper"
          v-if="mjerenja[odabranoMjerenje.id]"
        >
          <va-accordion class="flex row xs12">
            <va-collapse
              v-for="(prognoza, index) in mjerenja[odabranoMjerenje.id]
                .MeteoData"
              :key="index"
              :isOpenDefault="index == 0 ? true : false"
              class="flex xs12 collapse-prognoza"
            >
              <span slot="header">{{ getHeaderTitle(prognoza.Time) }}</span>
              <div slot="body">
                <div class="card-mjerenje-wrap flex xs12 md12">
                  <div
                    class="flex row card-mjerenje-prognoza-preciznost-wrapper"
                  >
                    <div class="card-mjerenje-wrap flex xs12 md4 lg3">
                      <va-card class="card-mjerenje" :color="'gray'">
                        <va-icon
                          :name="'fas fa-thermometer-three-quarters'"
                          class="card-mjerenje-ikona"
                        />
                        <p class="display-2 mb-0 text-white">
                          {{ prognoza.TemperatureMin }}&#xb0;<span
                            class="card-mjerenje-mjerna-jedinica"
                            >C</span
                          >
                        </p>
                        <p>Jutarnja temperatura</p>
                      </va-card>
                    </div>
                    <div class="card-mjerenje-wrap flex xs12 md4 lg3">
                      <va-card class="card-mjerenje" :color="'dark'">
                        <va-icon
                          :name="'fas fa-thermometer-three-quarters'"
                          class="card-mjerenje-ikona"
                        />
                        <p class="display-2 mb-0 text-white">
                          {{ prognoza.TemperatureMax }}&#xb0;<span
                            class="card-mjerenje-mjerna-jedinica"
                            >C</span
                          >
                        </p>
                        <p>Dnevna temperatura</p>
                      </va-card>
                    </div>
                    <div class="card-mjerenje-wrap flex xs12 md6">
                      <va-card
                        class="card-mjerenje"
                        :color="
                          getAccuracyColor(
                            mjerenja[odabranoMjerenje.id].Accuracy[
                              'Accuracy' + (index + 1)
                            ].toFixed(2) * 100
                          )
                        "
                      >
                        <va-icon
                          :name="'fas fa-bullseye'"
                          class="card-mjerenje-ikona"
                        />
                        <p class="display-2 mb-0 text-white">
                          {{
                            mjerenja[odabranoMjerenje.id].Accuracy[
                              "Accuracy" + (index + 1)
                            ].toFixed(2) * 100
                          }}<span class="card-mjerenje-mjerna-jedinica">%</span>
                        </p>
                        <p>
                          {{ index + 1 }}-dnevna Preciznost<span
                            v-if="
                              !mjerenja[odabranoMjerenje.id].Accuracy[
                                'Accuracy' + (index + 1)
                              ]
                            "
                            ><strong>
                              - Nema dovoljno podataka za određivanje</strong
                            ></span
                          >
                        </p>
                      </va-card>
                    </div>
                  </div>
                </div>

                <div class="card-mjerenje-wrap flex xs12 md4 lg2">
                  <va-card class="card-mjerenje" :color="'info'">
                    <va-icon
                      :name="'fas fa-water'"
                      class="card-mjerenje-ikona"
                    />
                    <p class="display-2 mb-0 text-white">
                      {{ prognoza.Humidity
                      }}<span class="card-mjerenje-mjerna-jedinica"> %</span>
                    </p>
                    <p>Vlažnost vazduha</p>
                  </va-card>
                </div>

                <div class="card-mjerenje-wrap flex xs12 md4 lg2">
                  <va-card class="card-mjerenje" :color="'info'">
                    <va-icon
                      :name="'fas fa-tachometer-alt'"
                      class="card-mjerenje-ikona"
                    />
                    <p class="display-2 mb-0 text-white">
                      {{ prognoza.Pressure
                      }}<span class="card-mjerenje-mjerna-jedinica"> mbar</span>
                    </p>
                    <p>Pritisak</p>
                  </va-card>
                </div>

                <div class="card-mjerenje-wrap flex xs12 md4 lg2">
                  <va-card class="card-mjerenje" :color="'info'">
                    <va-icon
                      :name="'fas fa-wind'"
                      class="card-mjerenje-ikona"
                    />
                    <p class="display-2 mb-0 text-white">
                      {{ prognoza.WindSpeed
                      }}<span class="card-mjerenje-mjerna-jedinica"> km/h</span>
                    </p>
                    <p>Vjetar - Brzina</p>
                  </va-card>
                </div>

                <div class="card-mjerenje-wrap flex xs12 md4 lg2">
                  <va-card class="card-mjerenje" :color="'info'">
                    <va-icon
                      :name="'fas fa-compass'"
                      class="card-mjerenje-ikona"
                    />
                    <p class="display-2 mb-0 text-white">
                      {{ prognoza.WindDirection }}&#xb0;
                    </p>
                    <p>Vjetar - Smjer</p>
                  </va-card>
                </div>

                <div class="card-mjerenje-wrap flex xs12 md4 lg2">
                  <va-card class="card-mjerenje" :color="'info'">
                    <va-icon
                      :name="'fas fa-tint'"
                      class="card-mjerenje-ikona"
                    />
                    <p class="display-2 mb-0 text-white">
                      {{ prognoza.RainRate
                      }}<span class="card-mjerenje-mjerna-jedinica">
                        cm/m2</span
                      >
                    </p>
                    <p>Kiša</p>
                  </va-card>
                </div>

                <div class="card-mjerenje-wrap flex xs12 md4 lg2">
                  <va-card class="card-mjerenje" :color="'info'">
                    <va-icon
                      :name="'fas fa-snowflake'"
                      class="card-mjerenje-ikona"
                    />
                    <p class="display-2 mb-0 text-white">
                      {{ prognoza.SnowRate
                      }}<span class="card-mjerenje-mjerna-jedinica">
                        cm/m2</span
                      >
                    </p>
                    <p>Snijeg</p>
                  </va-card>
                </div>
              </div>
            </va-collapse>
          </va-accordion>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as spinners from "epic-spinners";
import config from "../../config.json";

export default {
  name: "trenutno-vrijeme",
  components: {
    spinners,
  },
  data() {
    return {
      lokacije: [],
      lokacijeOpcije: [],
      odabranaLokacija: false,
      mjerenja: [],
      mjerenjaOpcije: [],
      odabranoMjerenje: false,
      spinner: spinners.OrbitSpinner,
      datum: "",
    };
  },
  methods: {
    async getUserLocations() {
      const userID = localStorage.getItem("userID");
      const api_endpoint = config.api_url + "/user-locations?user=" + userID;
      try {
        const response = await fetch(api_endpoint, {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });
        const result = await response.json();
        this.lokacije = result;
      } catch (error) {
        console.log("Error with getting response:" + error);
        return false;
      }
      return this.lokacije;
    },
    async getLocation(user_location_id) {
      let locationArray = []
      const userLocation = this.lokacije.find(loc => loc.id === user_location_id)
      locationArray.push(userLocation.location)
      return locationArray

      // const api_endpoint =
      //   config.api_url +
      //   "/locations?user_locations_contains=" +
      //   user_location_id;
      // try {
      //   const response = await fetch(api_endpoint, {
      //     method: "GET",
      //     headers: {
      //       Authorization: `Bearer ${localStorage.getItem("jwt")}`,
      //     },
      //   });
      //   const result = await response.json();
      //   return result;
      // } catch (error) {
      //   console.log("Error with getting response:" + error);
      //   return false;
      // }
    },
    async getWeatherForecast() {
      this.mjerenja = [];
      this.mjerenjaOpcije = [];
      var lokacijaID = await this.getLocation(this.odabranaLokacija.id);
      if (!lokacijaID.length) {
        return;
      }
      lokacijaID = lokacijaID[0];
      const api_endpoint =
        config.api_url +
        "/forecasts?_limit=3&_sort=id:DESC&location=" +
        lokacijaID.id;
      try {
        const response = await fetch(api_endpoint, {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });
        const result = await response.json();
        if (result.length) {
          var opcije = [];
          result.forEach((mjerenje, index) => {
            var opcija = {};
            opcija.id = index;
            opcija.description = this.getSourceName(mjerenje.Source);

            // Izracunaj ukupnu preciznost opcije da bi se
            // kasnije sortirale prema tome
            const { Accuracy } = mjerenje;
            let totalAccuracy = 0;
            for (const key in Accuracy) {
              if (key.includes("Accuracy")) {
                totalAccuracy += Accuracy[key];
              }
            }
            opcija.accuracy = totalAccuracy;

            opcije.push(opcija);
          });

          // Filteruj samo unique izvore
          let opcijeFiltered = [];
          opcije.map((o) => {
            if (!opcijeFiltered.find((op) => op.description == o.description)) {
              opcijeFiltered.push(o);
            }
          });
          // Sortiraj prema preciznosti
          opcijeFiltered = opcijeFiltered.sort((a, b) =>
            a.accuracy > b.accuracy ? -1 : 1
          );

          this.mjerenjaOpcije = opcije;
        } else {
          this.showToast(this.$t("trenutno.prognoze_greska"), {
            icon: "fa-info",
            position: "bottom-right",
            duration: 5500,
          });
        }

        this.mjerenja = result;
      } catch (error) {
        console.log("Error with getting response:" + error);
        return false;
      }
      return this.mjerenja;
    },
    getSourceName(slug) {
      switch (slug) {
        case "here":
          return "HERE maps";
          break;
        case "openweathermap":
          return "OpenWeatherMap";
          break;
        case "darksky":
          return "DarkSky";
          break;

        default:
          return slug;
          break;
      }
    },
    getHeaderTitle(time) {
      let dateTime = new Date(time);

      let danTekst = dateTime.getDay();
      let dan = dateTime.getDate();
      let mjesec = dateTime.getMonth() + 1;
      let godina = dateTime.getFullYear();

      switch (danTekst) {
        case 1:
          danTekst = "Ponedeljak";
          break;
        case 2:
          danTekst = "Utorak";
          break;
        case 3:
          danTekst = "Srijeda";
          break;
        case 4:
          danTekst = "Četvrtak";
          break;
        case 5:
          danTekst = "Petak";
          break;
        case 6:
          danTekst = "Subota";
          break;
        case 0:
          danTekst = "Nedelja";
          break;
        default:
          break;
      }

      switch (mjesec) {
        case 1:
          mjesec = "Januar";
          break;
        case 2:
          mjesec = "Februar";
          break;
        case 3:
          mjesec = "Mart";
          break;
        case 4:
          mjesec = "April";
          break;
        case 5:
          mjesec = "Maj";
          break;
        case 6:
          mjesec = "Jun";
          break;
        case 7:
          mjesec = "Jul";
          break;
        case 8:
          mjesec = "Avgust";
          break;
        case 9:
          mjesec = "Septembar";
          break;
        case 10:
          mjesec = "Oktobar";
          break;
        case 11:
          mjesec = "Novembar";
          break;
        case 12:
          mjesec = "Decembar";
          break;
        default:
          break;
      }
      return danTekst + ", " + dan + ". " + mjesec + ". " + godina + ".";
    },
    getAccuracyColor(percent) {
      if (percent > 89) return "success";

      if (percent > 59) return "warning";

      if (percent == 0) return "gray";

      return "danger";
    },
  },
  watch: {
    odabranaLokacija: function (val, old) {
      this.getWeatherForecast();
      this.odabranoMjerenje = false;
    },
    lokacijeOpcije: function (val, old) {
      this.odabranaLokacija = val[0];
    },
    mjerenjaOpcije: function (val, old) {
      setTimeout(() => {
        this.odabranoMjerenje = val[0];
      }, 100);
    },
  },
  mounted: async function () {
    this.lokacije = [];
    console.log("mount-ovao Trenutno");
    if (localStorage.getItem("registration-success") === "true") {
      this.showToast(this.$t("auth.success_register"), {
        icon: "fa-check",
        position: "bottom-right",
        duration: 3500,
      });
      localStorage.setItem("registration-success", false);
    }
    var lokacije = await this.getUserLocations();
    if (lokacije.length) {
      var opcije = [];
      lokacije.forEach((lokacija) => {
        var opcija = {};
        opcija.id = lokacija.id;
        opcija.description = lokacija.Title;
        opcije.push(opcija);
      });

      this.lokacijeOpcije = opcije;
    } else {
      this.showToast(this.$t("trenutno.lokacije_greska"), {
        icon: "fa-info",
        position: "bottom-right",
        duration: 5500,
      });
    }

    //Postavlja datum
    let datum = new Date();
    let h = datum.getHours() < 10 ? "0" + datum.getHours() : datum.getHours();
    let m =
      datum.getMinutes() < 10 ? "0" + datum.getMinutes() : datum.getMinutes();
    let s =
      datum.getSeconds() < 10 ? "0" + datum.getSeconds() : datum.getSeconds();
    datum = h + ":" + m + ":" + s;
    this.datum = datum;
  },
};
</script>

<style lang="scss">
.row-equal .flex {
  .va-card {
    height: 100%;
  }
}
.dashboard {
  .va-card {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 767.98px) {
  .page-header {
    margin-bottom: -15px;
  }
  .vrijeme-select {
    margin-top: -20px;
  }
}
</style>
