<template>
  <div class="dashboard">
    <div class="row">
      <div class="flex xs12">
        <div class="row">
          <div class="flex xs12 page-header">
            <p class="display-2">Trenutno vrijeme</p>
          </div>
          <div class="flex row xs12">
            <div class="flex xs12 md4">
              <va-select
                class="select-input-large lokacija-select"
                :label="$t('ui.selects.odabir-lokacije')"
                v-model="odabranaLokacija"
                searchable
                textBy="description"
                :options="lokacijeOpcije"
                :disabled="lokacijeOpcije.length ? false : true"
              />
            </div>
            <div class="flex xs12 md4">
              <va-select
                class="select-input-large vrijeme-select"
                :label="$t('ui.selects.odabir-izvora')"
                v-model="odabranoMjerenje"
                searchable
                textBy="description"
                :options="mjerenjaOpcije"
                :disabled="mjerenjaOpcije.length ? false : true"
              />
            </div>
            <!--
            <div class="flex xs12 md4">
              <p class="stranica-header">Trenutno Vrijeme</p>
            </div>
            -->
          </div>
        </div>
      </div>
      <div class="flex xs12">
        <div
          v-if="
            !odabranaLokacija ||
            !odabranoMjerenje ||
            !lokacije.length ||
            !mjerenja.length
          "
          class="text--center pb-4"
        >
          <div class="flex-center spinner-box">
            <component
              :animation-duration="1500"
              :is="spinner"
              :color="'#0f4cc7'"
              :size="120"
            >
            </component>
          </div>
          <div>{{ $t(spinner) }}</div>
        </div>

        <div
          class="row trenutno-mjerenja-wrapper"
          v-if="mjerenja[odabranoMjerenje.id]"
        >
          <div class="flex row xs12">
            <!-- <h1 class="flex trenutno-source-naziv">
              {{ getSourceName(mjerenja[odabranoMjerenje.id].Source) }}
            </h1> -->
            <p class="trenutno-vrijeme-azuriranja">
              Ažurirano
              <strong>
                {{
                  getStyledDateTime(mjerenja[odabranoMjerenje.id].updated_at)
                }}
              </strong>
              <va-icon :name="'far fa-clock'" class="" />
            </p>
          </div>
          <div class="flex row xs12 card-trenutna-mjerenja-wrapper">
            <div class="card-mjerenje-wrap flex xs12 md4 lg3">
              <va-card class="card-mjerenje" :color="'info'">
                <va-icon
                  :name="'fas fa-thermometer-three-quarters'"
                  class="card-mjerenje-ikona"
                />
                <p class="display-2 mb-0 text-white">
                  {{ mjerenja[odabranoMjerenje.id].Temperature }}&#xb0;<span
                    class="card-mjerenje-mjerna-jedinica"
                    >C</span
                  >
                </p>
                <p>Temperatura</p>
              </va-card>
            </div>

            <div class="card-mjerenje-wrap flex xs12 md4 lg3">
              <va-card class="card-mjerenje" :color="'info'">
                <va-icon :name="'fas fa-water'" class="card-mjerenje-ikona" />
                <p class="display-2 mb-0 text-white">
                  {{ mjerenja[odabranoMjerenje.id].Humidity
                  }}<span class="card-mjerenje-mjerna-jedinica"> %</span>
                </p>
                <p>Vlažnost vazduha</p>
              </va-card>
            </div>

            <div class="card-mjerenje-wrap flex xs12 md4 lg3">
              <va-card class="card-mjerenje" :color="'info'">
                <va-icon
                  :name="'fas fa-tachometer-alt'"
                  class="card-mjerenje-ikona"
                />
                <p class="display-2 mb-0 text-white">
                  {{ mjerenja[odabranoMjerenje.id].Pressure
                  }}<span class="card-mjerenje-mjerna-jedinica"> mbar</span>
                </p>
                <p>Pritisak</p>
              </va-card>
            </div>

            <div class="card-mjerenje-wrap flex xs12 md4 lg3">
              <va-card class="card-mjerenje" :color="'info'">
                <va-icon :name="'fas fa-wind'" class="card-mjerenje-ikona" />
                <p class="display-2 mb-0 text-white">
                  {{ mjerenja[odabranoMjerenje.id].WindSpeed
                  }}<span class="card-mjerenje-mjerna-jedinica"> km/h</span>
                </p>
                <p>Vjetar - Brzina</p>
              </va-card>
            </div>

            <div class="card-mjerenje-wrap flex xs12 md4 lg3">
              <va-card class="card-mjerenje" :color="'info'">
                <va-icon :name="'fas fa-compass'" class="card-mjerenje-ikona" />
                <p class="display-2 mb-0 text-white">
                  {{ mjerenja[odabranoMjerenje.id].WindDirection }}&#xb0;
                </p>
                <p>Vjetar - Smjer</p>
              </va-card>
            </div>

            <div class="card-mjerenje-wrap flex xs12 md4 lg3">
              <va-card class="card-mjerenje" :color="'info'">
                <va-icon :name="'fas fa-tint'" class="card-mjerenje-ikona" />
                <p class="display-2 mb-0 text-white">
                  {{ mjerenja[odabranoMjerenje.id].RainRate
                  }}<span class="card-mjerenje-mjerna-jedinica"> cm/m2</span>
                </p>
                <p>Kiša</p>
              </va-card>
            </div>

            <div class="card-mjerenje-wrap flex xs12 md4 lg3">
              <va-card class="card-mjerenje" :color="'info'">
                <va-icon
                  :name="'fas fa-snowflake'"
                  class="card-mjerenje-ikona"
                />
                <p class="display-2 mb-0 text-white">
                  {{ mjerenja[odabranoMjerenje.id].SnowRate
                  }}<span class="card-mjerenje-mjerna-jedinica"> cm/m2</span>
                </p>
                <p>Snijeg</p>
              </va-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as spinners from "epic-spinners";
import config from "../../config.json";

export default {
  name: "trenutno-vrijeme",
  components: {
    spinners,
  },
  data() {
    return {
      lokacije: [],
      lokacijeOpcije: [],
      odabranaLokacija: false,
      mjerenja: [],
      mjerenjaOpcije: [],
      odabranoMjerenje: false,
      spinner: spinners.OrbitSpinner,
      vrijeme: "",
    };
  },
  methods: {
    async getUserLocations() {
      return new Promise(async (resolve, reject) => {
        const userID = localStorage.getItem("userID");
        const api_endpoint = config.api_url + "/user-locations?user=" + userID;
        try {
          const response = await fetch(api_endpoint, {
            method: "GET",
            headers: {
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          });
          const result = await response.json();
          this.lokacije = result;
        } catch (error) {
          console.log("Error with getting response:" + error);
          resolve(false);
        }
        resolve(this.lokacije);
      });
    },
    async getLocation(user_location_id) {
      let locationArray = []
      const userLocation = this.lokacije.find(loc => loc.id === user_location_id)
      locationArray.push(userLocation.location)
      return locationArray

      // const api_endpoint =
      //   config.api_url +
      //   "/locations?user_locations_contains=" +
      //   user_location_id;
      // try {
      //   const response = await fetch(api_endpoint, {
      //     method: "GET",
      //     headers: {
      //       Authorization: `Bearer ${localStorage.getItem("jwt")}`,
      //     },
      //   });
      //   const result = await response.json();
      //   return result;
      // } catch (error) {
      //   console.log("Error with getting response:" + error);
      //   return false;
      // }
    },
    async getCurrentWeather() {
      this.mjerenja = [];
      this.mjerenjaOpcije = [];
      var lokacijaID = await this.getLocation(this.odabranaLokacija.id);
      if (!lokacijaID.length) {
        return;
      }
      lokacijaID = lokacijaID[0];
      const api_endpoint =
        config.api_url +
        "/measurements?_limit=3&_sort=id:DESC&location=" +
        lokacijaID.id;
      try {
        const response = await fetch(api_endpoint, {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });
        const result = await response.json();
        if (result.length) {
          var opcije = [];
          result.forEach((mjerenje, index) => {
            var opcija = {};
            opcija.id = index;
            opcija.description = this.getSourceName(mjerenje.Source);
            opcije.push(opcija);
          });

            this.mjerenjaOpcije = opcije;
            console.log(opcije);
          
        } else {
          this.showToast(this.$t("trenutno.mjerenja_greska"), {
            icon: "fa-info",
            position: "bottom-right",
            duration: 5500,
          });
        }
        this.mjerenja = result;
      } catch (error) {
        console.log("Error with getting response:" + error);
        return false;
      }
      return this.mjerenja;
    },
    getSourceName(slug) {
      switch (slug) {
        case "here":
          return "HERE maps";
          break;
        case "openweathermap":
          return "OpenWeatherMap";
          break;
        case "darksky":
          return "DarkSky";
          break;

        default:
          return slug;
          break;
      }
    },
    getStyledDateTime(datetime) {
      let dateTime = new Date(datetime);

      let danTekst = dateTime.getDay();
      let dan = dateTime.getDate();
      let mjesec = dateTime.getMonth() + 1;
      let godina = dateTime.getFullYear();
      let sati = dateTime.getHours();
      let minuti = dateTime.getMinutes();

      switch (danTekst) {
        case 1:
          danTekst = "Ponedeljak";
          break;
        case 2:
          danTekst = "Utorak";
          break;
        case 3:
          danTekst = "Srijeda";
          break;
        case 4:
          danTekst = "Četvrtak";
          break;
        case 5:
          danTekst = "Petak";
          break;
        case 6:
          danTekst = "Subota";
          break;
        case 0:
          danTekst = "Nedelja";
          break;
        default:
          break;
      }

      switch (mjesec) {
        case 1:
          mjesec = "Januar";
          break;
        case 2:
          mjesec = "Februar";
          break;
        case 3:
          mjesec = "Mart";
          break;
        case 4:
          mjesec = "April";
          break;
        case 5:
          mjesec = "Maj";
          break;
        case 6:
          mjesec = "Jun";
          break;
        case 7:
          mjesec = "Jul";
          break;
        case 8:
          mjesec = "Avgust";
          break;
        case 9:
          mjesec = "Septembar";
          break;
        case 10:
          mjesec = "Oktobar";
          break;
        case 11:
          mjesec = "Novembar";
          break;
        case 12:
          mjesec = "Decembar";
          break;
        default:
          break;
      }
      return sati + ":" + minuti;
    },
  },
  watch: {
    odabranaLokacija: function (val, old) {
      this.getCurrentWeather();
      this.odabranoMjerenje = false;
    },
    lokacijeOpcije: function (val, old) {
      this.odabranaLokacija = val[0];
    },
    mjerenjaOpcije: function (val, old) {
      setTimeout(() => {
        this.odabranoMjerenje = val[0];
      }, 500);
    },
  },
  mounted: async function () {
    this.lokacije = [];
    console.log("mount-ovao Trenutno");
    if (localStorage.getItem("registration-success") === "true") {
      this.showToast(this.$t("auth.success_register"), {
        icon: "fa-check",
        position: "bottom-right",
        duration: 3500,
      });
      localStorage.setItem("registration-success", false);
    }
    var lokacije = await this.getUserLocations();
    if (lokacije.length) {
      var opcije = [];
      lokacije.forEach((lokacija) => {
        var opcija = {};
        opcija.id = lokacija.id;
        opcija.description = lokacija.Title;
        opcije.push(opcija);
      });
      this.lokacijeOpcije = opcije;
    } else {
      this.showToast(this.$t("trenutno.lokacije_greska"), {
        icon: "fa-info",
        position: "bottom-right",
        duration: 5500,
      });
    }

    //Pokrece sat
    setInterval(() => {
      let vrijeme = new Date();
      let h =
        vrijeme.getHours() < 10 ? "0" + vrijeme.getHours() : vrijeme.getHours();
      let m =
        vrijeme.getMinutes() < 10
          ? "0" + vrijeme.getMinutes()
          : vrijeme.getMinutes();
      let s =
        vrijeme.getSeconds() < 10
          ? "0" + vrijeme.getSeconds()
          : vrijeme.getSeconds();
      vrijeme = h + ":" + m + ":" + s;
      this.vrijeme = vrijeme;
    }, 1000);
  },
};
</script>

<style lang="scss">
.row-equal .flex {
  .va-card {
    height: 100%;
  }
}
.dashboard {
  .va-card {
    margin-bottom: 0 !important;
  }
}
.card-trenutna-mjerenja-wrapper {
  margin-top: -20px !important;
}
.trenutno-vrijeme-azuriranja {
  text-align: right;
  margin-right: 15px;
}
@media (max-width: 767.98px) {
  .page-header {
    margin-bottom: -15px;
  }
  .trenutno-vrijeme-azuriranja {
    margin-top: -20px;
  }
  .vrijeme-select {
    margin-top: -20px;
  }
}
</style>
