// Variables
$disabledInputColor: #b5b4b4;


/* Opšte */
.select-input-large {
    label.va-select__label {
        font-size: 14px;
    }

    .va-select__displayed-text {
        font-size: 24px;
        line-height: 2;
    }
}

.placeholder {
    padding: 15px;

    &.small {
        margin: 10px 0px;
    }

    &.medium {
        margin: 20px 0px;
    }

    &.large {
        margin: 30px 0px;
    }
}

.disabled-input {
    background: $disabledInputColor;

    .va-input__container__content-wrapper {
        background: $disabledInputColor;
    }

    .input {
        background: $disabledInputColor;
    }
}

.select-input-large {
    .va-select {
        min-height: 62px !important;
    }
}

.card-mjerenje-ikona {
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 25px;
}

.forma-dodaj {
    padding: 0.75rem;
}

/* Trenutno vrijeme */
.trenutno-source-naziv {
    font-size: 24px;
    margin-bottom: -30px;
    margin-top: -20px;
}

.trenutno-mjerenja-wrapper {
    padding: 0.75rem;
}

.card-mjerenje-ikona {
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 25px;
}

.card-mjerenje-mjerna-jedinica {
    font-size: 16px;
}

.stranica-header {
    font-size: 28px;
    font-weight: 600;
    min-height: 62px;
    color: #345163;
    padding-top: 8px;
    text-align: center;
    font-family: 'Open Sans';
}

/* Prognoze */
.collapse-prognoza {
    .va-collapse__body {
        padding-left: 0px !important;
        padding-right: 0px !important;
        > div {
            display: flex;
            flex: 1 1 auto;
            flex-wrap: wrap;
            min-width: 0;
            padding: 0px !important;
        }
    }
}

.collapse-prognoza {
    padding-bottom: 0px !important;
    margin-bottom: -10px;
}

.collapse-prognoza .va-collapse__header__content {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans';
    min-height: 70px;
    padding-left: 30px;
    margin: -5px -15px;
}

.card-mjerenje-prognoza-preciznost-wrapper {
    padding: 0px !important;
}

/* Obavjestenja */
.card-obavjestenje {
    cursor: pointer;
}

.card-obavjestenje-ikona {
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 25px;
}

.card-obavjestenje-title {
    width: calc(100% - 35px);
}

.novo-obavjestenje-input-uputstvo {
    font-size: 18px;
    padding-top: 15px !important;
}

/* Lokacije */
.text-white {
    color: white;
}

.card-lokacija {
    cursor: pointer;
}

.card-lokacija-ikona {
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 25px;
}

.card-dodaj {
    cursor: pointer;
}

.card-dodaj-ikona {
    position: absolute;
    font-size: 30px;
    right: 25px;
    top: 25px;
}

.card-dodaj-title {
    color: #2f89e1;
}

.card-dodaj-text {
    color: #1b4671;
}

.map_container.nova-lokacija-mapa {
    min-height: 400px;
}

@media (max-width: 767.98px) {
    .va-navbar.app-navbar {
        height: 65px;
    }

    aside.va-sidebar {
        top: 65px;
    }
}