<template>
  <div class="dashboard">
    <div class="row row-equal">
      <div class="flex xs12 md8">
        <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">Izmijeni lokaciju - {{ naziv }}</p>
          </div>
          <div class="forma-dodaj">
            <div class="row">
              <div class="flex xs12">
                <va-input v-model="naziv" placeholder="Naziv" />
              </div>
              <div class="flex xs6">
                <va-input
                  class="disabled-input"
                  disabled="true"
                  :type="'number'"
                  v-model="latituda"
                  placeholder="Latituda"
                  step="0.0000001"
                />
              </div>
              <div class="flex xs6">
                <va-input
                  class="disabled-input"
                  disabled="true"
                  :type="'number'"
                  v-model="longituda"
                  placeholder="Longituda"
                  step="0.0000001"
                />
              </div>
              <div class="flex xs12">
                <location-picker
                  v-if="this.location.lat && this.location.lng"
                  v-model="location"
                  :options="options"
                  class="nova-lokacija-mapa"
                >
                </location-picker>
              </div>
              <div class="flex xs12 text-center">
                <va-button
                  @click="remove()"
                  large
                  color="danger"
                  type="submit"
                  class="my-0"
                  >{{ $t("ui.ukloni") }}
                </va-button>
                <va-button @click="submit()" large type="submit" class="my-0"
                  >{{ $t("ui.izmijeni") }}
                </va-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex s12"></div>
    </div>
  </div>
</template>

<script>
import { LocationPicker } from "vue2-location-picker";
import config from "../../config.json";

export default {
  name: "izmijeni",
  components: { LocationPicker },
  data() {
    return {
      naziv: "",
      latituda: "",
      longituda: "",
      id: this.$route.params.id,
      location: {
        lat: false,
        lng: false,
      },
      options: {
        // is not required
        map: {
          zoom: 11,
          fullscreenControl: false,
          streetViewControl: false,
        },
        autocomplete: {
          /** autocomplete options **/
        },
      },
    };
  },
  methods: {
    async getUserLocation() {
      const api_endpoint =
        config.api_url + "/user-locations/" + this.$route.params.id;
      try {
        const response = await fetch(api_endpoint, {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
          },
        });
        const result = await response.json();
        return result;
      } catch (error) {
        console.log("Error with getting response:" + error);
        return false;
      }
    },
    async submit() {
      const api_endpoint =
        config.api_url + "/user-locations/" + this.$route.params.id;
      try {
        const response = await fetch(api_endpoint, {
          method: "PUT",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            id: this.id,
            Title: this.naziv,
            Latitude: this.latituda,
            Longitude: this.longituda,
          }),
        });
        const result = await response.json();
        if (result.error) {
          this.showToast(this.$t("ui.greska"), {
            icon: "fa-close",
            position: "bottom-right",
            duration: 1500,
          });
          return;
        }

        this.$router.push({ path: "/lokacije" });
      } catch (error) {
        console.log("Error with getting response:" + error);
        this.showToast(this.$t("ui.greska"), {
          icon: "fa-close",
          position: "bottom-right",
          duration: 1500,
        });
        return false;
      }
    },
    async remove() {
      const api_endpoint =
        config.api_url + "/user-locations/" + this.$route.params.id;
      try {
        const response = await fetch(api_endpoint, {
          method: "DELETE",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id: this.id }),
        });
        const result = await response.json();
        if (result.error) {
          this.showToast(this.$t("ui.greska"), {
            icon: "fa-close",
            position: "bottom-right",
            duration: 1500,
          });
          return;
        }

        this.$router.push({ path: "/lokacije" });
      } catch (error) {
        console.log("Error with getting response:" + error);
        this.showToast(this.$t("ui.greska"), {
          icon: "fa-close",
          position: "bottom-right",
          duration: 1500,
        });
        return false;
      }
    },
  },
  mounted: async function () {
    console.log("mount-ovao Izmijeni lokaciju");
    let data = await this.getUserLocation();
    this.id = data.id;
    this.naziv = data.Title;
    this.latituda = data.Latitude;
    this.longituda = data.Longitude;
    this.location.lat = data.Latitude;
    this.location.lng = data.Longitude;
    console.log(this.location);
  },
};
</script>

<style lang="scss">
.row-equal .flex {
  .va-card {
    height: 100%;
  }
}
.dashboard {
  .va-card {
    margin-bottom: 0 !important;
  }
}

// Disable Map Autocomplete
#pac-input {
  display: none;
}
</style>
