<template>
  <div class="dashboard">
    <div class="row row-equal">
      <div class="flex s12 md6">
        <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">Lokacije</p>
          </div>
          <div class="flex xs12">
              <div
                class="flex xs12"
                v-for="lokacija in lokacije"
                :key="lokacija.id"
              >
                <va-card 
                  class="mb-4 card-lokacija" 
                  :color="'info'"
                  @click.native="redirect(lokacija.id)"
                >
                  <va-icon
                    :name="'fa fa-pencil-square-o'"
                    class="card-lokacija-ikona"
                  />
                  <p class="display-2 mb-0 text-white">{{ lokacija.Title }}</p>
                  <p>{{ lokacija.Latitude + ', ' + lokacija.Longitude }}</p>
                </va-card>
              </div>
              <div class="flex xs12">
                <va-card 
                  class="mb-4 card-dodaj" 
                  :color="''"
                  @click.native="redirect('nova')"
                >
                  <va-icon
                    :name="'fa fa-plus'"
                    color="info"
                    class="card-dodaj-ikona"
                  />
                  <p class="display-2 mb-0 card-dodaj-title" >Dodaj</p>
                  <p class="card-dodaj-text">Dodaj novu lokaciju</p>
                </va-card>
              </div>
          </div>
        </div>
      </div>
      <div class="flex s12">
        
        </div>
    </div>
  </div>
</template>

<script>
import config from "../../config.json";

export default {
  name: "trenutno",

  data() {
    return {
        lokacije: []
    };
  },
  methods: {
      async getUserLocations() {
        const userID = localStorage.getItem('userID');
        const api_endpoint = config.api_url + "/user-locations?user=" + userID;
        try {
          const response = await fetch(api_endpoint, {
            method: "GET",
            headers: {
              Authorization: `Bearer ${localStorage.getItem("jwt")}`
            }
          });
          const result = await response.json();
          this.lokacije = result
                    
        } catch (error) {
          console.log("Error with getting response:" + error);
          return false;
        }
      },
      redirect(id) {
        if(id == 'nova'){
          this.$router.push('/lokacije/nova')
        }
        else {
          this.$router.push('/lokacije/izmijeni/' + id)
        }
      },
  },
  mounted: async function() {
    console.log('mount-ovao Lokacije')
    this.getUserLocations()
  }
};
</script>