<template>
  <div class="dashboard">
    <div class="row row-equal">
      <div class="flex xs12 md10 lg8">
        <div class="row row-equal">
          <div class="flex xs12">
            <p class="display-2">Dodaj novu lokaciju - {{ naziv }}</p>
          </div>
          <div class="flex xs12 forma-dodaj">
            <div class="row">
              <div class="flex xs12">
                <va-input v-model="naziv" placeholder="Naziv" />
              </div>
              <div class="flex xs12">
                <p>Pomjerite marker da promijenite lokaciju</p>
              </div>
              <div class="flex xs12">
                <location-picker
                  v-model="location"
                  :options="options"
                  class="nova-lokacija-mapa"
                >
                </location-picker>
              </div>
              <div class="flex xs12 text-center">
                <va-button @click="submit()" large type="submit" class="my-0"
                  >{{ $t("ui.dodaj") }}
                </va-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex s12"></div>
    </div>
  </div>
</template>

<script>
import { LocationPicker } from "vue2-location-picker";
import config from "../../config.json";

export default {
  name: "nova",
  components: { LocationPicker },
  data() {
    return {
      naziv: "",
      latituda: "",
      longituda: "",
      location: {
        lat: 42.441283,
        lng: 19.262914,
      },
      options: {
        // is not required
        map: {
          zoom: 9,
          fullscreenControl: false,
          streetViewControl: false,
        },
        marker: {
          /** marker options **/
        },
        autocomplete: {
          /** autocomplete options **/
        },
      },
    };
  },
  methods: {
    async submit() {
      const userID = localStorage.getItem("userID");
      const api_endpoint = config.api_url + "/user-locations/";

      //Provjerava drzavu
      /*
        if(false){

        } else {
          this.showToast(this.$t('ui.greske.nova-lokacija-drzava'), {
              icon: 'fa-close',
              position: 'bottom-right',
              duration: 1500,
          })
          return
        }
        */

      try {
        const response = await fetch(api_endpoint, {
          method: "POST",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            user: userID,
            Title: this.naziv,
            Latitude: this.location.lat,
            Longitude: this.location.lng,
          }),
        });
        const result = await response.json();
        if (result.error) {
          this.showToast(this.$t("ui.greska"), {
            icon: "fa-close",
            position: "bottom-right",
            duration: 1500,
          });
          return;
        }

        this.$router.push({ path: "/lokacije" });
      } catch (error) {
        console.log("Error with getting response:" + error);
        this.showToast(this.$t("ui.greska"), {
          icon: "fa-close",
          position: "bottom-right",
          duration: 1500,
        });
        return false;
      }
    },
  },
  mounted: async function () {
    console.log("mount-ovao Dodaj novu lokaciju");
  },
};
</script>

<style lang="scss">
.row-equal .flex {
  .va-card {
    height: 100%;
  }
}
.dashboard {
  .va-card {
    margin-bottom: 0 !important;
  }
}

// Disable Map Autocomplete
#pac-input {
  display: none;
}
</style>
