<template>
  <div class="auth-layout row align-content--center">
    <!--
  <div class="flex xs12 pa-3 flex-center">
    <router-link class="py-5 flex-center" to="/">
      <va-icon-vuestic />
    </router-link>
  </div>
  -->

    <div class="flex xs12 pa-3">
      <div class="d-flex justify--center">
        <va-card class="auth-layout__card">
          <div>
            <img src="/img/wide-color.png" class="login-logo" />
          </div>
          <va-tabs v-model="tabIndex" center>
            <va-tab>{{ $t("auth.prijava") }}</va-tab>
            <va-tab>{{ $t("auth.registracija") }}</va-tab>
            <va-tab>{{ $t("auth.promo") }}</va-tab>
          </va-tabs>

          <va-separator />

          <div class="pa-3">
            <router-view />
          </div>
        </va-card>
      </div>
    </div>
    <div class="flex xs12 pa-3">
      <div class="d-flex justify--center">
        <va-card class="footer-promo-wrapper">
          <footer-section />
        </va-card>
      </div>
    </div>
  </div>
</template>

<script>
import VaIconVuestic from "vuestic-ui/src/components/vuestic-components/va-icon/va-iconset/VaIconVuestic";
import FooterSection from "./FooterSection.vue";

const tabs = ["prijava", "registracija", "promo"];

export default {
  name: "AuthLayout",
  components: { VaIconVuestic, FooterSection },
  data() {
    return {
      selectedTabIndex: 0,
      tabTitles: ["login", "createNewAccount", "promo"],
    };
  },
  computed: {
    tabIndex: {
      set(tabIndex) {
        this.$router.push({ name: tabs[tabIndex] });
      },
      get() {
        return tabs.indexOf(this.$route.name);
      },
    },
  },
};
</script>

<style lang="scss">
.auth-layout {
  min-height: 100vh;
  background-image: linear-gradient(to right, #0e4ac4, #002c85);

  &__card {
    width: 100%;
    max-width: 400px;
  }

  &__options {
    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  .login-logo {
    max-width: 100%;
  }
}
.footer-promo-wrapper {
  max-width: 400px;
}
</style>
