<template>
  <div>
    <img class="footer-promo-logo" src="/img/dipol_footer-2.png" />
  </div>
</template>

<script>
export default {
  name: "footer-section",
};
</script>

<style lang="scss">
.footer-promo-logo {
  width: 100%;
}
</style>
